:root {
    --dark-grey: #242424;
    --darker-grey: #1a1a1a;
    --green: #4CAF50;
    --white: #ffffff;
    --box-shadow: rgba(0, 0, 0, 0.5);
    --box-shadow-light: rgba(0, 0, 0, 0.2);
    --red: #FF4444;

}